{% extends 'home/base.html' %}

{% block CONTENT %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://lh3.googleusercontent.com/p/AF1QipMuINNFdq19PrJY0oMvWZQeSALxpgGzM_3dU13c=s1360-w1360-h1020" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Apple </h1>
         <p>10 años de expericencia. Todos los productos con garantia oficial</p>
        <a class="btn btn-primary" href="#!">Productos destacados</a>
    </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">La lucha por hacer el trabajo lo más cercano posible a la perfección existió siempre.</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">IPHONE</h2>
                <p class="card-text">¿Por qué el iPhone es único?
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Ver productos</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">MACBOOK</h2>
                <p class="card-text">La Mac viene con poderosas herramientas de creatividad y productividad que te ayudarán a descubrir más cosas, conectarte y trabajar de una forma más eficiente.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Ver Productos</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">WATCH</h2>
                <p class="card-text">Para crear un reloj épico y con un rendimiento sin igual, no se nos podía escapar ni un detalle. El titanio ofrece el equilibrio perfecto entre peso, solidez y resistencia a la corrosión. La caja sobrepasa levemente el cristal de zafiro plano protegiéndolo por los cuatro flancos. Y tanto la Digital Crown como el botón lateral han sido mejorados en tamaño y forma para que puedas usarlos sin problema incluso con guantes..</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Ver productos</a></div>
        </div>
    </div>
</div>
</div>
{% endblock CONTENT %}