<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

     <div class="container px-8">
        <a class="navbar-brand" href="#!"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-auto"> <!-- Aplicamos la clase "ms-auto" a este li -->
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" with aria-current="page" href="{% url 'home:index' %}" style='position: relative;right: 500px';>INICIO</a>
                </li>

                <li class="nav-item"><a class="nav-link {% if request.path == 'iphone' %}active{% endif %}" href="#!">iphone</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == 'mackbook' %}active{% endif %}" href="#!">MackBook</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link {% if request.path == 'producto' %}active{% endif %}" href="{% url 'producto:index' %}">productos</a></li> 
                <li class="nav-item"><a class="nav-link text-bg-dark">{{ user.username }}</a></li>  
                <li class="nav-item"><a class="nav-link text-info {% if request.path == '/' %}active{% endif %}" href="{% url 'home:logout' %}">logout </a></li>

                {% endif %}
                <li class="nav-item" href="https://wa.me/573123456789"><a class="nav-link {% if request.path == 'watch' %}active{% endif %}" href="{% url 'venta:index' %}">Contactanos</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == 'accesorios' %}active{% endif %}" href="#!">Accesorios</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == 'servicio' %}active{% endif %}" href="#!">Servicio Tecnico</a></li>
                <li class="nav-item"><a class="nav-link text-info {% if request.path == '/' %}active{% endif %}" href="{% url 'home:login' %}">Login </a></li>



  
            </ul>
        </div>
    </div>
</nav>



